a {
text-decoration:none;
color:$link-color;

-webkit-transition:color 0.5s;  
-moz-transition:color 0.5s;    
-o-transition:color 0.5s;    
transition:color 0.5s; 
}

a:hover {
text-decoration:underline;
color:$link-hover-color;

-webkit-transition:color 0.5s;  
-moz-transition:color 0.5s;    
-o-transition:color 0.5s;    
transition:color 0.5s; 
}

body {
background-color: $body-background-color;
font-family: $font-stack;
}

.clearfix:after {
content:"";
display:table;
clear:both;
}

/* form elements */
label {
display:block;
margin-top:6px;
}

input, textarea {
width:100%;
}
