$breakpoint-large: 800px;
$breakpoint-medium: 768px;
$breakpoint-small: 600px;


@media screen and (max-width: $breakpoint-large) {
	.row {
	padding:0 1%;
	}
	
	.col,
	.col:first-child,
	.col:last-child {
	padding:0 1%;
	}
	
	.port-item {
	//height:auto;
	
		.port-links {
		position:static;
		margin-left:5px;
		padding-bottom:10px;
		}
	}
	
	
}

@media screen and (max-width: $breakpoint-medium) {	
	.col-33, .col-25 {
	width:50%;
	}	
	
	#hamburger, #pageid {
	display:block;
	}
	
	#pageid {
	position:absolute;
	top:16px;
	left:55px;	
	font-weight:bold;
	}
	
	.nav-main li {
	display:none;
	}
	
	.nav-main .col {
	width:100%;
	}
	
}

@media screen and (max-width: $breakpoint-small) {
	
	h1 {
	font-size:1.4rem;
	line-height:1.8rem;
	}
	
	.col-100 {
	width:100%;
	padding:0 3%;
	}
	
	.col-90, .col-80, .col-75, .col-70, .col-66, .col-50, .col-40, .col-33, .col-30, .col-25, .col-20 {
	width:100%;
	}
	
	.global-header {
	height:300px;
	}	
	
	.port-item {
	height:auto;
	}
	
	footer, footer .col-right {
	text-align:center;	
	}	

}