body, p {
font:normal 1rem/1.6rem $font-stack;
}

h1 {
margin-top:20px;
font:normal 2rem/2.6rem $font-stack;
}

h2 {
font:normal 1.6rem/2.2rem $font-stack;
}

h3 {
font:normal 1.2rem/1.8rem $font-stack;
}

.note {
font-size:0.7rem;
}